@media all and (max-width: 900px) {
  .schedule__right {
    width: 100%;
  }
}
@media all and (max-width: 500px) {
  .schedule__block {
    margin-top: 110px;
  }
  .main__title {
    margin-top: 0;
    font-size: 18px;
  }
  .schedule__side {
    font-size: 12px;
    font-weight: 300;
  }
  .time__title {
    width: 90%;
    padding: 10px;
    justify-content: space-around;
  }
}

@media all and (max-width: 380px) {
  .time__title {
    padding: 10px;
    justify-content: flex-start;
    gap: 60px;
  }
}
